<!-- Header -->
<%- include('layouts/header', { title: 'Member Management' }) %>

<!-- Sidebar -->
<%- include('layouts/sidebar') %>

<!-- Main Content -->
<div class="main-content flex-grow-1 p-4">
  <div class="container-fluid py-4">
    <div class="card shadow">
      <div
        class="card-header d-flex justify-content-between align-items-center bg-dark text-white"
      >
        <h2>Member Management</h2>
        <!-- Nút đồng bộ Admin -->
        <a href="/api/members/sync" class="btn btn-light">Đồng bộ Member</a>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th>No.</th>
              <th>Username</th>
              <th>Member Code</th>
              <th>Join Date</th>
              <th>Expiry Date</th>
              <th>Max Loans</th>
              <th>Current Loans</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% dataTable.forEach(function(member, index) { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= member.User ? member.User.username : "N/A" %></td>
              <td><%= member.member_code %></td>
              <td><%= member.join_date.toLocaleDateString("vi-VN") %></td>
              <td><%= member.expiry_date.toLocaleDateString("vi-VN") %></td>
              <td><%= member.max_loans %></td>
              <td><%= member.current_loans %></td>
              <td><%= member.status %></td>
              <td>
                <button
                  class="btn btn-sm btn-outline-primary mx-auto d-block"
                  data-bs-toggle="modal"
                  data-bs-target="#editMemberModal"
                  data-id="<%= member.member_id %>"
                  data-username="<%= member.User ? member.User.username : '' %>"
                  data-member_code="<%= member.member_code %>"
                  data-join_date="<%= member.join_date ? member.join_date.toISOString().split('T')[0] : '' %>"
                  data-expiry_date="<%= member.expiry_date ? member.expiry_date.toISOString().split('T')[0] : '' %>"
                  data-max_loans="<%= member.max_loans %>"
                  data-current_loans="<%= member.current_loans %>"
                  data-status="<%= member.status %>"
                >
                  Edit
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <%- include('partials/pagination', { dataTable }) %>
    </div>
  </div>
</div>
<script src="/js/pagination.js"></script>
<script src="../js/memberPage.js"></script>
<%- include('partials/editMember') %>
<!--  -->
<%- include('layouts/footer') %>
